/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
  min-height: 100vh;
  padding-top: 72px;
  color: white;
}

a {
  color: white;
}

.ellipsize {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

img {
  max-width: 100%;
}

.pointer {
  cursor: pointer;
}